@import "../../node_modules/bootstrap/scss/bootstrap";
@import "theme";
@import "variables";

//Bootstrap

@import "bootstrap-overwrites";

// Utilities

@import "utilities/bg-colors";
@import "utilities/box-shadows";
@import "utilities/line-heights";
@import "utilities/text-colors";
@import "utilities/general";


body {
  overflow-y: scroll;
  background: #f5f8fa;
}

.logo {
  height: 35px;
  margin-top: 3px;
  margin-right: 20px;
}

.block {
  background-color: $dark-grey;
  color:  var(--white);
  padding: 10px;
  border-radius: 5px;
}

.node-map {
  height: 600px;
}

.node-table {
  max-height: 500px;
  overflow-y: auto;
}

.social {
  font-size: 20px;
}

.loader-center {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 150px;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* needed to keep the footer on the bottom when loading (not fixed nor sticky footer)*/
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: gray;
  text-align: center;
}
/* end footer on the bottom*/

.blink_txt {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}


@include media-breakpoint-down(md) {
  body {
    font-size: 0.8rem;
  }

  .logo {
    margin-top: 0;
    margin-right: 6px
  }
}

@include media-breakpoint-down(sm) {
  body {
    font-size: 1rem;
  }
}

