@import "node_modules/bootstrap/scss/bootstrap";
@import "theme";
@import "varibles";

//Bootstrap

@import "bootstrap-overwrites";

// Utilities

@import "utilities/bg-colors";
@import "utilities/box-shadows";
@import "utilities/line-heights";
@import "utilities/text-colors";
@import "utilities/general";


body {
  overflow-y: scroll;
}

.logo {
  height: 35px;
  margin-top: 3px;
  margin-right: 20px;
}

.block {
  background-color: $dark-grey;
  color:  var(--white);
  padding: 10px;
  border-radius: 5px;
}

.node-map {
  height: 600px;
}



@include media-breakpoint-down(md) { 
  body {
    font-size: 0.8rem;
  }
  
  .logo {
    margin-top: 0;
  }
}

@include media-breakpoint-down(sm) { 
  body {
    font-size: 1rem;
  }
}

